* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    color: #6f6f6f;
}

body {
    background-color: #f5f5f5;
}

button {
    border: none;
    outline: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    z-index: 1000;
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    animation-delay: -1s;
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.nav {
    padding: 25px 20px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    z-index: 100;
    display: none;
    box-shadow: 0 9px 11px rgba(206, 206, 206, .3);
}

.container {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.nav .logo {
    font-size: 1.2rem;
    font-weight: 800;
    color: #0078ff;
    padding-left: 30px;
}

.nav .nav-toggle {
    position: absolute;
    right: 20px;
    top: 27px;
    width: 30px;
    height: 21px;
    cursor: pointer;
    display: none;
}

.nav-toggle span:before,
.nav-toggle span:after {
    position: absolute;
    content: "";
    width: 30px;
    height: 3px;
    background: #333;
    transform: rotate(0deg);
    transition: all .4s;
    right: 0;
}

.nav-toggle span:after {
    top: 7px;
}

.nav-toggle span:before {
    top: -7px;
}

.nav .nav-toggle span {
    height: 3px;
    width: 30px;
    display: block;
    background: #333;
    position: absolute;
    top: 10px;
    transition: all .2s;
}

.nav .nav-toggle.active span {
    background: transparent;

}

.nav-toggle.active span:after {
    top: 0px;
    transform: rotate(40deg)
}


.nav-toggle.active span:before {
    top: 0px;
    transform: rotate(-40deg)
}

.nav .row {
    max-width: 1170px;
    margin: 0 auto;
}

.nav ul {
    float: right;

}

.nav ul li {
    float: left;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 5px 30px 5px 0;
    position: relative;
    overflow: hidden;
}

.nav ul li a {
    color: #0078ff;
}

.nav ul li a::before {
    content: "";
    width: 35px;
    height: 3px;
    background-color: #0078ff;
    position: absolute;
    bottom: 0px;
    transition: all .4s;
    transform: translateX(-45px);
}

.nav ul li a:hover::before {
    transform: translateX(0px);

}


.nav ul .li1.active a::before {
    transform: translateX(0px);
}

#toggle {
    display: none;
}

#ckeckbox {
    display: none;
}

#ckeckbox svg {
    display: none;
}

#ckeckbox2 {
    display: none;
}

#ckeckbox2 svg {
    display: block;
    float: right;
}

#main .main3 .main3-1 {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;

}

#main .main3 {
    width: 100%;
}

#main .main3 .main3-1 .box {
    display: flex;
    justify-content: space-between;
    padding: 4rem 3rem 4rem 3rem;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06),
        0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

#main .main3 .main3-1 .main3-2 {
    max-width: 540px;
    height: 100%;
    padding-right: 35px;
}

#main .main3 .banner {
    position: relative;
    background: url(../img/beijing.jpg) center fixed;
    height: 100vh;
    z-index: 10;
    background-size: cover;
}

#main .main3 .banner .down {
    position: absolute;
    display: table;
    width: 100px;
    height: 50px;
    background: rgba(150, 150, 150, 0.2);
    left: 50%;
    bottom: 0;
    margin-left: -50px;
    border-radius: 50px 50px 0 0;
    z-index: 3;
    overflow: hidden;
}

#main .main3 .banner .down i {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    text-shadow: 0 0 15px rgba(0, 0, 0, .4);
    animation: down 1.8s infinite;
    text-align: center;
}

#main .main3 .banner .down i .icon {
    width: 30px;
    height: 30px;
}

@keyframes down {
    0% {
        top: 0;
        opacity: .5
    }

    25% {
        top: 10px;
        opacity: 1
    }

    50% {
        top: 5px;
        opacity: 1
    }

    100% {
        top: 15px;
        opacity: 0
    }
}

#main .main3 .banner::before {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

#main .main3 .banner .content {
    position: relative;
    top: 35%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#main .main3 .banner .content h1 {
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 60px;
}


#main .main3 .banner .content p {
    display: none;
}

#main .main3 .banner .content strong,
#main .main3 .banner .content span {
    color: #fff;
    font-size: 2rem;
    font-weight: 200;
}

#main .main3 .main3-1 .main3-33 {
    display: flex;
    flex-direction: column;
}

#main .main3 .main3-1 .main3-3 {
    max-width: 100%;
    margin-top: 1.5rem;
}

#main .main3 .main3-1 .main3-3 .skill {
    background-color: #cde1f8;
    margin: .5rem 0 1.2rem 0;
    border-radius: 0;
    height: .7rem;
    border-radius: 5px;
}

#main .main3 .main3-1 .main3-3 .skill .progress-0 {
    width: 65%;
    height: 100%;
    background-color: #0078ff;
    border-radius: 5px;
}

#main .main3 .main3-1 .main3-3 .skill .progress-1 {
    width: 80%;
    height: 100%;
    background-color: #0078ff;
    border-radius: 5px;
}

#main .main3 .main3-1 .main3-3 .skill .progress-2 {
    width: 70%;
    height: 100%;
    background-color: #0078ff;
    border-radius: 5px;
}

#main .main3 .main3-1 .main3-3 .skill .progress-3 {
    width: 70%;
    height: 100%;
    background-color: #0078ff;
    border-radius: 5px;
}

#main .main3 .main3-1 .main3-3 .skill .progress-4 {
    width: 30%;
    height: 100%;
    background-color: #0078ff;
    border-radius: 5px;
}

#main .main3 .main3-1 .main3-3 p {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.3rem;
}

#main .main3 .main3-1 .main3-3 span {
    font-weight: 400;
    color: #4e4e4e;
}

#main .main3 .main3-1 .main3-3 .right {
    float: right;
}


#main .main3 .main3-1 ul {
    max-width: 499px;
}

@media (max-width: 769px) {
    #main .main3 .main3-1 ul {
        padding: 0;
    }
}

#main .main3 .main3-1 ul h2 {
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 1.5rem;
    color: #333;
    display: inline-block;
    border-bottom: 3px solid #0078ff;
}

#main .main3 .main3-1 ul li {
    font-size: 1rem;
    line-height: 1.5;
    color: #4e4e4e;
}

#main .main3 .main3-1 .main3-2 img {
    border-radius: 5px;
    display: block;
    width: 100%;

}

#main .main3 .main3-4 {
    max-width: 1170px;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
}

#main .main3 .main3-4 h4 {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: #333;
}

#main .main3 .main3-4 p {
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
}

#main .main3 .main3-4 .p1 {
    width: 40px;
    height: 5px;
    margin: 0 auto;
    background-color: #0078ff;
    margin-bottom: 4rem;
}

#main .main3 .main3-4 .main3-5 ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#main .main3 .main3-4 .main3-5 .main3-6 img {
    transition-duration: .5s;
}

#main .main3 .main3-4 .main3-5 .main3-6 img:hover {
    transform: scale(1.25);
    transition: all 1s;
}

#main .main3 .main3-4 .main3-5 .main3-6 {
    padding-bottom: 3rem;
    max-width: 350px;
}

@media (max-width:1100px) {
    #main .main3 .main3-4 .main3-5 .main3-6 {
        max-width: 310px;
    }
}

#main .main3 .main3-4 .main3-5 .main3-6 a .img1 {
    overflow: hidden;
    max-height: 300px;
}


#main .main3 .main3-4 .main3-5 .main3-6 .tilte {
    padding: 2rem 1rem 1rem 1rem;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .2);
}

#main .main3 .main3-4 .main3-5 .main3-6 .tilte h2 {
    font-size: 20px;
    font-weight: normal;
    max-width: 210px;
    margin: 0 auto;
    line-height: 1.2;
    color: #333;
    text-align: center;
}

#main .main3 .main3-4 .main3-5 .main3-6 .tilte p {
    color: #0078ff;
    font-size: .8rem;
}

#main .main3 .main3-4 .main3-5 .main3-6 .tilte p span {
    color: #4e4e4e;
}

#main .main3 .main3-4 .main3-5 img {
    width: 100%;
    height: 100%;
}

#main .main3 .main3-5 {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

#main .main3 .main4 {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


#main .main3 .main4 .main4-1 .main4-2 p {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    color: #333;
}

#main .main3 .main4 .main4-1 .main4-2 .p1 {
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: normal;
}

#main .main3 .main4 .main4-1 .main4-2 .p2 {
    width: 40px;
    height: 5px;
    margin: 0 auto;
    background-color: #0078ff;
    margin-bottom: 3rem;
}

#main .main3 .main4 .main4-1 {
    margin-bottom: 4rem;
}

#main .main3 .main4 .main4-1 .main4-3 svg {
    width: 21px;
    height: 21px;
    margin-bottom: 10px;
}

#main .row {
    display: flex;

}

#main .main3 .main4 .main4-1 .main4-3 {
    width: 41.6%;
    padding-right: 15px;
}

#main .main3 .main4 .main4-1 .main4-3 ul {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

#main .main3 .main4 .main4-1 .main4-3 ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#main .main3 .main4 .main4-1 .main4-3 ul li p {
    font-size: 16px;
    line-height: 33px;
    color: #888;
}

#main .main3 .main4 .main4-1 .main4-3 ul li:last-child {
    margin: 0;
}

#main .main3 .main4 .main4-1 .main4-3 ul li span {
    color: #333;
    font-weight: 700;
    font-size: 14px;
}

#main .main3 .main4 .main4-1 .main4-4 {
    width: 58.3%;
    padding-left: 15px;

}

#main .main3 .main4 .main4-1 .main4-4 input {
    min-width: 100%;
    font-size: 16px;
    margin-bottom: 30px;
    height: 55px;
    padding: 7px 10px;
    background: #fff;
    border: none;
    outline: medium;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}

#main .main3 .main4 .main4-1 .main4-4 input:focus,
#main .main3 .main4 .main4-1 .main4-4 .main4-5 textarea:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, .1), inset 0 -3px #333;
    outline: none
}

#main .main4-5 {
    position: relative;
    line-height: 0;

}

#main .main3 .main4 .main4-1 .main4-4 .main4-5 textarea {
    min-width: 100%;
    height: 164px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding-right: 80px;
    border: none;
    outline: medium;
    box-sizing: border-box;
    font-size: 16px;
    font-family: inherit;
}

.btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 80px;
    background: #333;
    border: none;
    font-size: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    transition: all .5s;
    box-shadow: inset 0 0 15px 5px #333;
    border: 1px solid #333;
}

.btn:hover {
    background: #fff;
    box-shadow: inset 0 0 0 5px #333
}

.btn:hover svg {
    color: #333;
}

.btn svg {
    width: 30px;
    height: 30px;
    color: #fff;
    transition: all .5s;
}

#footer {
    padding: 70px 0;
    background: #333;
}

#footer p {
    text-align: center;
    color: #fff;
}

.a-top {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #0078ff;
    text-align: center;
    line-height: 50px;
    z-index: 0;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    display: none;

}